body {
  text-align: center;
  background-color: black;
  color: aliceblue;
}
h1 {
  text-transform: uppercase;
  font-family: "Libre Baskerville", serif;
  font-weight: 400;
  font-style: normal;
}
img {
  height: 70vh;
  width: 80vw;
  border: 3px solid white;
}
div {
  margin-top: 6vh;
}
